.footer {
    background: $color-green2;
    font-size: 12px;
    display: block;
    position: relative;
    bottom: 0;
    text-align: center;

    ul {
        display: flex;
        padding: 10px;
        vertical-align: middle;

        a {
            text-decoration: none;
            padding: 10px;

            li {
                color: $color-skin;
                transition: 0.2s;
                cursor: pointer;

                &:hover {
                    color: $color-green3;
                }
            }
        }
    }
}

.footerText {
    font-size: 12px;
    color: $color-skin;
}