.navigation {
  background: $color-blue;
  font-size: 25px;
  vertical-align: baseline;

  img {
    width: 45px;
    height: auto;
  }

  ul {
    display: flex;
    padding: 10px;
    vertical-align: middle;

    a {
      text-decoration: none;
      padding: 10px;

      li {
        color: $white;
        transition: 0.2s;
        cursor: pointer;

        &:hover {
          color: $color-red;
        }


      }
    }
  }
}