.bloc {
    background-color: rgba($color: $white, $alpha: 0.5);
    margin-bottom: 100px;
    padding: 40px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .6);

    display: flex;
}

.image {
    width: 200px;
    height: auto;
}

.textBloc {
    text-align: justify;
    font-size: 20px;
}