.bloc {
    border: solid $color-red;
    background-color: $white;
    display: flex;
    padding: 40px;
    margin-bottom: 100px;
}

.bloc>div {
    display: flex;
    vertical-align: middle;
}

.image {
    width: 200px;
    height: auto;

    flex-grow: 1;
    vertical-align: middle;
}

.textBloc {
    text-align: justify;
    font-size: 20px;
    flex-grow: 1;
    vertical-align: middle;
}