.bloc {
    background-color: rgba($color: $white, $alpha: 0.7);
    margin-bottom: 100px;
    margin-top: 100px;
    padding: 40px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .6);
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexbox {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.image {
    max-width: 400px;
}

.textBloc {
    text-align: justify;
    font-size: 20px;
}

@media screen and (max-width: 560px) {
    .bloc {
        margin-bottom: 20px;
        margin-top: 20px;
        padding: 20px;
    }

    .flexbox {

        display: inline;
        align-items: center;
        justify-content: center;
    }

    .textBloc {
        font-size: 15px;
    }

    .image {
        width: 300px;

    }
}