.bloc {
    background-color: rgba($color: $white, $alpha: 0.7);
    margin-bottom: 100px;
    margin-top: 100px;
    padding-top: 40px;
    padding-bottom: 60px;
    padding-left: 100px;
    padding-right: 100px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .6);
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: $color-red;
    text-shadow: 0px 0px 4px rgba($white, 1);
    text-align: center;
}

.flexbox {
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
}

.image {
    max-width: 500px;
}

.imageFramed {
    border: solid;
    border-color: rgba($color: black, $alpha: 0.7);
    border-width: 2px;
}

.textBloc {
    text-align: justify;
    font-size: 40px;
}

.blocVideo {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;

}

.videoYT {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 820px) {
    .image {
        max-width: 370px;
    }
}

@media screen and (max-width: 700px) {
    .bloc {
        margin-bottom: 20px;
        margin-top: 20px;
        padding-top: 30px;
        padding-bottom: 10px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .flexbox {
        display: inline;
        align-items: center;
        justify-content: center;
    }

    .textBloc {
        font-size: 15px;
        margin-bottom: 30px;
    }

    .image {
        max-width: 250px;
        margin-bottom: 20px;
    }

    .divImg {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .title {
        font-size: 17px;
    }
}

@media screen and (max-width: 387px) {
    .title {
        font-size: 12px;
    }

    .textBloc {
        font-size: 10px;
        margin-bottom: 20px;
    }

    .image {
        max-width: 150px;
        margin-bottom: 10px;
    }

    .bloc {
        padding-top: 20px;
        padding-bottom: 5px;
        padding-left: 30px;
        padding-right: 30px;
    }
}