.backgroundImg {
    background-image: url(../../assets/images/background-dinosaures.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    //backdrop-filter: blur(2px);
}

@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}

@media screen and (max-width: 387px) {
    .backgroundImg {
        //background-image: url(../../assets/images/papier-peint-dinosaures.jpg);
        background-image: url(../../assets/images/background-dinosaures.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100%;
        width: 100%;
    }
}