.divUV {
    background-image: url(../../assets/images/background-ultime-victime.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    //backdrop-filter: blur(12px);
}