@font-face {
  font-family: "font-1";
  src: url(../assets/fonts/BreeSerif-Regular.ttf);
}

$font-1: "font-1", sans-serif;

$color-green3: #386641;
$color-green2: #6A994E;
$color-green1: #A7C957;
$color-skin: #F2E8CF;
$color-red: #BC4749;
$white: rgb(243, 243, 243);

li {
  list-style-type: none;
}

body {
  font-family: $font-1;
  margin: 0;
}